@import "style.styl"

body
	width 100%
	background-color white
	margin 0
	padding 0
	border none

	header
		background-color white
		height 85px
		margin 0
		padding 0
		vertical-align top
		width 100%
		z-index 8
		position fixed
		top 0

		nav
			height 100%
			padding 0
			margin 0
			vertical-align top

			ul 
				width 100%
				padding 0
				height 100%
				margin 0
				display block

				
				#btnNav1:hover
					border-right solid 1px #8cc63e

				#btnNav2:hover
					border-right solid 1px #f16420

				#btnNav3:hover
					border-right solid 1px #00adef



				li
					width 100%
					border-bottom solid 1px #A4A4A4
					border-right solid 1px #A4A4A4
					background-color white
					height 84px
					margin 0
					padding 0
					float left
					overflow hidden
					display block


					#btnNavAni1:hover
						background-color #8cc63e

						h4
							color white
						.lineBtn1
							background-color white

					#btnNavAni2:hover
						background-color #f16420

						h4
							color white
						.lineBtn2
							background-color white

					#btnNavAni3:hover
						background-color #00adef

						h4
							color white
						.lineBtn3
							background-color white

					#btnNavAni4:hover
						background-color #000000

						h4
							color white
						.lineBtn4
							background-color white

					.bloqClaro
						width 100%
						height 100%
						cursor pointer
						position relative
						top 0
						padding 0
						margin 0
						display block
						transition 0.4s

						a
							display block
							height 100%
							width 100%
							margin 0
							padding 0
							text-decoration none


							figure img
								display block
								width 160px
								margin 15px auto

							h4
								font-size 15px
								font-family offside
								font-weight ligther
								letter-spacing 1px
								text-align right
								position relative
								top 25px
								right 8%	
								color #1C1C1C
								float right
								margin 0
								padding 0
								display inline-block
								line-height 115%
								
							.btnrayas
								display inline-block
								border none
								height 32px
								width 9px
								vertical-align middle
								float right
								margin 0
								padding 0 
								position relative
								top 27px
								right 5.5%

							.lineBtn1
								background-color #8cc63e
							.lineBtn2
								background-color #f16420
							.lineBtn3
								background-color #00adef
							.lineBtn4
								background-color #000000

					#btnNavAni0
						span
							display block
							position absolute
							top 10px
							right 25px
							font-weight normal
							color #A4A4A4
							font-size 2em
				
				.blqmovil
					display none

				.ultimoBtnNav
					border-right none
	#banner, #servicios, #portafolio, #promociones, #redes, #contacto
		position relative
		top 80px
		left 0
		width 100%
		box-shadow 0px 4px 34px #1C1C1C
		overflow hidden


	#banner
		z-index 7
		background-color #FFFFFF
		height 460px
		margin 0
		padding 0

		.wrapperBanner
			display block
			margin 0 auto
			width 90%
			position relative
			top 0

			.slide
				display none
				vertical-align top
				margin 0px auto
				width 100%
				padding 0
				position absolute
				top 0

			.slide_visible
				display block

			article
				figure
					.iconazos, txtBanner
						display inline-block


			article figure .iconazos
				display block
				margin 0 auto
				padding 0
				position relative 
				top 30px
				width 250px

			article figure .txtBanner
				display block
				margin 0 auto
				padding 0
				position relative 
				top 50px
				width 250px

			.wrapperPaginacion
				height 20px
				width 120px
				margin 0 auto
				position relative
				top 400px

				.paginacion


				.paginacion:before
					content: "•"
					color #1C1C1C
					font-weight bold
					font-size 25px
					margin 0 7px

				.paginaVisible:before
					color #00adef
					

	#servicios
		background-color #f16420
		z-index 6
		height 800px

		p
			font-family offside
			font-size 0.7em
			letter-spacing 1px
			font-weight normal
			text-align center
			color white
			width 80%
			margin 0 auto
			position relative
			top 95px


		.wrapper
			width 318px
			margin 0 auto
			padding 0

			.BtnServicio
				width 135px
				margin 0 3% 7% 3%
				padding 0
				position relative
				top 130px
				vertical-align top
				display inline-block


				.wrapperIcoServ
					display block
					margin 0 auto
					width 100px
					height 100px
					vertical-align top
					.wrapperBrillo
						position absolute
						top 0
						height 50px
						width 50px
						display inline-block
						overflow hidden

						.brillo
							display inline-block
							width 130px
							height 20px
							position relative
							top -100px
							left 0

							vertical-align bottom
							box-shadow 0px -35px 30px white
							opacity 0.5
							transition 1s

					#wFoco
						height 8px
						width 17px
						position relative
						top -40px
						left 40px

					#wCompu
						width 68px
						height 50px
						position absolute
						top 18px
						left 27px

					#wImp2
						position absolute
						top 45px
						left 33px

					.wImp
						width 20px
						height 20px
						position absolute
						top 22px
						left 33px
						border-radius 50%

					#wCaja
						width 40px
						height 10%
						position absolute
						top 15px
						left 40px
						border-radius 50%


					img
						width 100%
						height 100%
						margin 0
						padding 0		



					

				h2
					font-family Roboto Slab
					font-weight normal
					letter-spacing 1px
					font-size 0.8em
					color white
					position relative
					top 5px
					width 100%
					margin 0 auto
					vertical-align bottom
					text-align center
					border-bottom solid 1px
					border-color #963b04
					padding-bottom 5px



				ul
					padding 0
					display block
					width 140px
					margin 10px auto 0 auto


					li
						text-decoration none
						list-style-type none
						font-family open sans
						font-weight light
						font-size 0.7em	
						color #ffc239
						margin 0 0 0 10px

					li:before
						content: ">"
						margin-right 5px
						font-family open sans
						font-size 0.8em
						color #963b04



	#portafolio
		z-index 5
		background-color #00adef
		height 840px

		.listaBotonesPorta
			margin 0 auto
			padding 0
			position relative
			top 105px
			width 100%
			li
				text-decoration
				list-style-type none
				display inline-block
				margin-right -4px
				padding 6px 0 0 0
				font-family open sans
				font-weight 500
				font-size 1em
				color #15619d
				text-align center
				vertical-align middle
				letter-spacing 1px
				cursor pointer
				width 50%
				height 30px
				background: #7dd3f6;
				position: relative;
				border-right solid 1px #15619d
				transition all 0.4s

			li:hover
				background-color #15619d
				color white

			.botonesPortaUltimo
				border-right none

			.botonActivado
				background-color #15619d

			.ui-selected
				background-color #15619d
				color white

			.btnUltimos
				border-top solid 1px #15619d

		#vitrina
			width 100%
			margin 0 auto
			position relative
			top 135px
			padding 0
			list-style-type none

			.vinetas
				list-style-type none
				padding 0
				text-decoration none
				cursor pointer
				width 50%
				margin 0
				height 274px
				float left
				background: #7dd3f6;
				position: relative;
				overflow hidden

				a
					text-decoration none
					width 100%
					height 100%
					border none
					display block

					figure 
						display inline-block
						width 100%
						height 100%
						margin 0
						padding 0
						position relative
						top 0
						z-index 0

						img
							width 100%
							height 274px
							margin 0
							padding 0

					.wrapperVinetas
						display block
						width 100%
						height 100%
						transition 1s
						position relative
						top -278px
						z-index 9999


						.sombra
							display block
							background-color #15619d
							width 100%
							height 100%
							position relative
							opacity 0.6
							top 0
							margin 0
							padding 0

						.descripcion
							border-left solid 2px
							border-color #7dd3f6
							width 60%
							margin 0 auto
							padding 0 0 0 7px
							display block
							vertical-align middle
							position relative
							opacity 1
							top -190px
							z-index 9999

							h5
								margin 0
								padding 0
								font-family open sans
								font-size 0.9em
								font-weight bold
								color white
								letter-spacing 1px

							.categoria
								margin 0
								padding 0
								font-family open sans
								font-size 0.8em
								font-weight light
								font-style italic
								color white

							.cliente
								margin 0
								padding 0
								font-family open sans
								font-size 0.8em
								font-weight 900
								letter-spacing 1px
								font-style normal
								color #7dd3f6

			.vinetas:hover
				a .wrapperVinetas
					-webkit-transform rotateY(90deg)
					transform rotateY(90deg)
					opacity 0


	#promociones
		display none
		z-index 4
		background-color #652b90
		height 510px

		.contenedorBannerPromo

			.slidePorta
				display none
				vertical-align top
				margin 0px auto
				height 380px
				width 100%
				padding 0
				position absolute
				top 180px
				overflow hidden

				figure
					width 100%

					img
						width 100%



			.slide_visible_Porta
				display block

	#redes
		z-index 3
		background-color #8cc63e
		height 400px

		.descripSegmentoRedes
			font-family offside
			font-weight normal
			font-size 0.7em
			color white
			width 85%
			text-align center
			margin 0 auto
			padding 0
			position relative
			top 115px

		ul
			width 267px
			margin 0 auto
			padding 0
			position relative
			top 160px
			text-decoration none

			.btnRedes
				display inline-block
				margin 0 2%
				padding 0
				text-decoration none
				list-style none

				a
					text-decoration none
					display block
					margin 0
					padding 0
					width 100%


					figure, p
						display inline-block
					figure
						width 45px
						height 45px
						padding 3px
						margin 0


						.btnOff
							display block
							height 100%
							margin 0
							padding 0
							position relative
							top 0
							z-index 8

						.btnOn
							display none
							height 85%
							margin 0
							padding 0
							position absolute
							top 3px
							z-index 7

						

					p
						display none
						margin 0
						padding 0
						font-family roboto slab
						font-size 1.8em
						font-weight bold
						color #618037
						vertical-align top
						position relative
						top 20px
						left 0px
						transition 0.5s
				a:hover
					p
						color white

	#Contacto
		height 730px
		background-image url("Fondo-ciudad.png")
		background-repeat:no-repeat;
		background-size: 100% 100%;
		position relative
		top 80px
		z-index 2

		#mensajeExito, #mensajeError
			width 60%
			display none
			background-color white
			border solid 2px black
			position relative 
			top -350px
			padding 30px
			margin 0 auto

		
		#wrapperContacto
			height 100%
			width 100%
			display block

			



			p
				width 75%
				margin 0 auto
				vertical-align middle
				color black
				text-align justify
				font-family open sans
				font-size 0.7em
				font-weight lighter


			.descripContacto
				font-family offside
				font-size 0.7em
				font-weight lighter
				color white
				width 85%
				margin 0 auto
				position relative
				top 100px
				text-align center

			.logoplaqartcontacto
				display none
				width 170px
				margin 0
				padding 0
				position relative
				top 160px
				left 347px
				img
					width 100%
					margin 0
					padding 0

			.div1
				width 260px
				margin 0 auto
				padding 0
				position relative
				top 460px

				.imgUbicacion img, .imgTelf img
					width 30px
					margin 15px 0 0 0
					padding 0

				.imgTelf img
					position relative
					top 15px
				p
					float right
					font-family Roboto slab
					font-size 1em
					font-weight light 
					color white
					width 200px
					margin 15px 0 0 0
					padding 0
					position relative
					top -65px

			.div2
				height 270px
				width 90%
				margin 0 auto
				padding 0
				position relative
				top 0px
				background-image url("ContactoForm.png")
				background-repeat:no-repeat;
				background-size: 100% 100%;

				form
					width 100%
					height 100%
					display block
					margin 0
					padding 0
					vertical-align top
					position relative
					top -70px

					.inputsForm, textarea
						background-color transparent
						border none
						width 93%
						padding 10px 13px 7px 13px
						margin 0
						font-family open sans
						font-size 0.9em
						color white
						position relative
						0


					.inputsForm
						height 18px

					.inputsForm:focus
						outline 0px


					textarea
						height 127px

					textarea:focus
						outline 0px
						
					.btnForm
						background-color transparent
						border solid 1px white
						height 33px
						width 100px
						padding 3px
						margin 0
						font-family open sans
						font-size 0.9em
						font-weight bold
						color white
						position relative
						top 25px
						float right


	#footer
		z-index 1
		background-color black
		height 160px
		display block

		div
			display block
			width 320px
			margin 0 auto
			padding 0
			position relative
			top 110px

			figure, p
				display inline-block
				

			figure
				width 65px
				vertical-align middle
				img
					width 100%


			p
				font-family open sans
				font-weight lighter
				color white
				margin 0 0 0 10px
				font-size 0.5em

			p:before
				content: "•"
				color white
				font-weight bold
				margin-right 7px

	.titulosSegmentos
		font-family offside
		font-size 1.1em
		font-weight normal
		color white
		letter-spacing 2px
		margin 0 auto
		text-align center
		position relative
		top 70px
		border none

	.delineado01
		width 70%
		margin 0 auto
		position relative
		top 80px

		img
			height 100%
			width 100%
		
		

	.btnAvanzar, .btnAtras
		display none
		position relative
		cursor pointer
		top 300px
		z-index 50
		img
			height 100%
			width 55px
			display inline-block

	.btnAvanzar
		position relative
		left 1145px

	.btnAtras
		position relative
		left 90px

@import "responsive.styl"