

@media screen and (min-width:768px)
	body
		#servicios 
			p
				font-size 0.8em
				width 70%

			.wrapper
				width 48%
				.BtnServicio
					width 150px
					margin 0 7% 7% 7%
					.wrapperIcoServ
						
						#wCompu
							left 34px

						#wImp2
							left 40px

						.wImp
							left 40px

						#wCaja
							left 47px


		#portafolio
			height 590px
			#vitrina
				width 100%
				.vinetas
					width 25%

		#promociones
			height 610px

			.slidePorta
				top 160px

		#redes
			height 370px
			.descripSegmentoRedes
				font-size 0.8em
				width 65%

			ul
				width 423px

				.btnRedes 
					margin 0 3.5%

					a figure
						width 65px
						height 65px

		#Contacto
			height 730px

			#wrapperContacto
				height 100%
				width 100%
				p
					font-size 0.9em

				.descripContacto
					font-size 0.8em
					width 70%
					top 110px

				.div1
					width 260px
					top 470px

				.div2
					width 60%
					top 20px

		#footer
			div
				width 450px
				top 100px

				figure
					width 90px

				p
					font-size 0.7em

		.titulosSegmentos
			font-size 1.3em

@media screen and (min-width : 1280px)
	body
		header
			nav
				ul
					li
						width 19.93%
						display block

						#btnNavAni0
							span
								display none

					.blqmovil
						display block

		#banner
			height 550px
			.wrapperBanner
				display block
				width 905px
				article 
					figure 
						.iconazos, .txtBanner
							float left
							width 350px
							margin 0px 50px
							vertical-align middle

						.iconazos
							top 65px
						.txtBanner
							top 190px



				.wrapperPaginacion
					top 450px

		#servicios
			height 620px
			p
				width 760px
				font-size 0.9em

			.wrapper
				width 1000px

				.BtnServicio
					width 220px
					margin 0 12px

					.wrapperIcoServ
						width 150px
						height 150px
						
						.wrapperBrillo
							height 50px
							width 100px

						#wFoco
							height 11px
							width 24px
							position relative
							top -60px
							left 62px

						#wCompu
							width 103px
							height 78px
							position relative
							top -125px
							left 15px
							z-index 9999

						#wImp2
							position relative
							top -120px
							left -15px

						.wImp
							width 33px
							height 33px
							position relative
							top -85px
							left 25px
							z-index 9999

						#wCaja
							width 60px
							height 40px
							position relative
							top -128px
							left 35px
							border-radius 50%

						.icoForzado
							vertical-align top

					h2
						font-size 1em
						width 160px

					ul
						width 160px
						margin 15px auto 0 auto
						
						li
							font-size 0.8em	

		#portafolio
			.listaBotonesPorta
				width 1000px
				li
					width 24.9%
				.btnUltimos
					border-top none

			#vitrina
				width 1000px

		#promociones
			.contenedorBannerPromo
				width 800px
				margin 0 auto

				.slidePorta
					width 800px

		#redes
			height 480px
			.descripSegmentoRedes
				font-size 1em

			ul
				width 1000px
				top 180px

				.btnRedes
					margin 0 8px
					width 22.9%

					a
						figure
							width 65px
							height 65px
						p
							display inline-block

		#Contacto
			height 630px
			#mensajeExito, #mensajeError
				width 300px
			#wrapperContacto
				p
					font-size 1em

				.descripContacto
					font-size 0.9em
					width 645px

				.logoplaqartcontacto
					display block

				.div1
					top 210px
					left -250px

				.div2
					height 270px
					width 430px
					top -15px
					left 180px

		#footer
			div
				width 650px
				position relative
				left 150px

				figure, p
					display inline-block

				


		.titulosSegmentos
			font-size 2.5em
		.btnAvanzar, .btnAtras
			display inline-block