@media screen and (min-width: 768px)

	body
		#contenedor
			.wrapperPrincipal
				.descripcionTrabajo
					h2
						font-size 1.5em

					p
						font-size 0.9em

					h1
						font-size 1em


			#portafolio
				height 610px
				#marco
					width 768px
					#vitrina
						width 768px
						.vinetas
							width 192px
				.titulosSegmentos
					font-size 1.3em

				.btnAvanzar, .btnAtras
					top 80px

					img
						width 40px

				.btnAvanzar
					margin-right 40px
				

				.btnAtras
					margin-left 40px

		#footer
			div
				width 450px
				top 20px
				figure
					width 90px
				p
					font-size 0.7em

@media screen and (min-width : 1280px)
	body
		header
			nav
				ul
					li
						width 19.93%
						display block

						#btnNavAni0
							span
								display none

					.blqmovil
						display block

		#contenedor
			.wrapperPrincipal
				width 1275px
				#figura1, #descripcionWork
					float left
				#figura1
					width 690px
					height 515px
				#figura2, #figura3, #figura4
					float left
				#figura2
					width 345px
					height 345px
				#figura3
					width 499px
					height 345px
				#figura4
					width 422px
					height 345px
				#figura5, #figura6, #figura7
					float left
				#figura5
					width 499px
					height 345px
				#figura6
					width 422px
					height 345px
				#figura7
					width 345px
					height 345px
				#figura8, #figura9, #figura10
					float left
				#figura8
					width 345px
					height 345px
				#figura9
					width 499px
					height 345px
				#figura10
					width 422px
					height 345px


				#descripcionWork
					width 576px
					height 515px

					h2
						font-size 1.7em
						width 440px
						margin 90px auto 0 auto

					p
						font-size 1em
						width 440px
						padding 15px 0 45px 0

					h1
						font-size 0.9em
						width 440px
						padding 9px 0 0 0	

			#portafolio
				height 690px

				.listaBotonesPorta
					width 1000px
					li
						width 24.9%
					.btnUltimos
						border-top none

				#marco
					width 1000px
					height 380px
					
					#vitrina
						width 1000px
						height 380px

						.vinetas
							height 380px
							width 250px
							a
								figure
									img	
										height 380px

								.wrapperVinetas
									top -384px
									.descripcion
										top -228px

				.titulosSegmentos
					font-size 2.5em

				.btnAvanzar, .btnAtras
					top -100px

					img
						width 50px

				.btnAvanzar
					margin-right 50px
				

				.btnAtras
					margin-left 50px
