<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>empresa de confeccion de maletines publicitarios ejecutivos</title>
        <meta name="description" content="Plaqart: Imprenta Merchandising Diseño Gráfico Diseño Web">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link href='http://fonts.googleapis.com/css?family=Offside|Roboto+Slab|Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/estilos.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/vendor/jquery-1.10.1.min.js"></script>
        <script src="js/vendor/ui/jquery-ui.js"></script>
        <script src="js/vendor/underscore.js"></script>

    </head>
    <body>
        <header>
            <nav id="navPrincipal">
                <ul>
                    <li id="btnNav0">
                        <div class="bloqClaro" id="btnNavAni0">
                            <a href="http://www.plaqart.com" class="scrolleable">
                                <figure>
                                    <img src="img/plaqart-logotipo.png" alt="Plaqart" title="imprenta Plaqart">
                                </figure>
                            </a>
                            <span class="icon-menu"></span>
                        </div>
                    </li>
                    <li id="btnNav1" class="blqmovil">
                        <div class="bloqClaro" id="btnNavAni1">
                            <a href="http://www.plaqart.com/empresa/index.html">
                                <span class="lineBtn1 btnrayas"></span>
                                <h4>QUIENES<br>SOMOS</h4>
                            </a>
                        </div>
                    </li>
                    <li id="btnNav2" class="blqmovil">
                        <div class="bloqClaro" id="btnNavAni2">
                            <a href="http://www.plaqart.com/#serviciosAncla" class="scrolleable">
                                <span class="lineBtn2 btnrayas"></span>
                                <h4>NUESTROS<br>SERVICIOS</h4>
                            </a>
                        </div>
                    </li>
                    <li id="btnNav3" class="blqmovil">
                        <div class="bloqClaro btnSelec" id="btnNavAni3">
                            <a href="#portafolio" class="scrolleable">
                                <span class="lineBtn3 btnrayas"></span>
                                <h4>NUESTRO<br>PORTAFOLIO</h4>
                            </a>
                        </div>
                    </li>
                    <li id="btnNav4" class="blqmovil ultimoBtnNav">
                        <div class="bloqClaro"  id="btnNavAni4">
                            <a href="http://www.plaqart.com/#contactoAncla" class="scrolleable">
                                <span class="lineBtn4 btnrayas"></span>
                                <h4>ESTEMOS EN<br>CONTACTO</h4>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        
        <section id="contenedor">
            <div class="wrapperPrincipal">
                <div id="descripcionWork" class="descripcionTrabajo">
                    <h2>NO HAY PROBLEMA QUE NO PODAMOS RESOLVER JUNTOS</h2>
                    <p>Uno de los objetivos de nuestro equipo es ayudar a nuestros clientes, ya sea asesorándolos o solo brindando consejos que los lleve a su solución. Con este caso no hubo excepción, Indecopi nos consultó si podíamos asistirlos con un obsequio para su equipo interno. Nos pusimos a trabajar y confeccionamos unos maletines ejecutivos hechos a base de cuero napa negro con bolsillo interno para laptop, forrado con tela taslán en el interior y reforzado con material micro poroso para la protección del computador.</p>
                    <h1>CONFECCIÓN DE MALETINES EJECUTIVOS<br> INDECOPI</h1>
                </div>
                <div class="bloques" id="figura1">
                    <figure>
                        <img src="img/indecopiMaletines/MaletinCuero01.jpg">
                    </figure>
                </div>
                <div class="bloques" id="figura2">
                    <figure>
                        <img src="img/indecopiMaletines/indecopilogo.png">
                    </figure>
                </div>
                <div class="bloques" id="figura3">
                    <figure>
                        <img src="img/indecopiMaletines/MaletinCuero02.jpg">
                    </figure>
                </div>
                <div class="bloques" id="figura4">
                    <figure>
                        <img src="img/indecopiMaletines/MaletinCuero03.jpg">
                    </figure>
                </div>
                <div class="bloques" id="figura5">
                    <figure>
                        <img src="img/indecopiMaletines/MaletinCuero04.jpg">
                    </figure>
                </div>
            </div>

            <section id="portafolio">
                <span id="portafolioAncla"></span>
                <h4 class="titulosSegmentos">MIRA NUESTRO PORTAFOLIO</h4>
                <figure class="delineado01"><img src="img/Subraya02.png"></figure>
                <!--<figure class="btnAtras">
                    <img src="img/PortafolioFlechaIzquierdaOff.png">
                </figure>
                <figure class="btnAvanzar">
                    <img src="img/PortafolioFlechaDerechaOff.png">   
                </figure>-->
                <ul class="listaBotonesPorta">
                    <li class="botonesPorta " id="btnDiseno">Diseño</li>
                    <li class="botonesPorta" id="btnWeb">Desarrollo Web</li>
                    <li class="botonesPorta btnUltimos" id="btnImp">Imprenta</li>
                    <li class="botonesPorta btnUltimos botonesPortaUltimo ui-selected" id="btnMerch">Merchandising</li>
                </ul>
                <div id="marco">
                    <ul id="vitrina">
                        
                    <!-- ACA SE INSERTA EL CONTENIDO DE LA PLANTILLA DE UNDERSCORE -->

                    </ul>
                </div>
                <!--<div class="wrapperPaginacionPorta">
                    <span class="paginacionPorta paginaVisiblePorta" id="slide1pagPorta"></span>
                    <span class="paginacionPorta" id="slide2pagPorta"></span>
                    <span class="paginacionPorta" id="slide3pagPorta"></span>
                </div>-->
                <figure class="btnAtras" id="prev">
                    <img src="img/PortafolioFlechaIzquierdaOff.png">
                </figure>
                <figure class="btnAvanzar" id="next">
                    <img src="img/PortafolioFlechaDerechaOff.png">   
                </figure>
            </section>

        </section>
        <section id="footer">
            <div>
                <figure>
                    <img src="img/PlaqartLogotipoCreditos.png" alt="Plaqart" title="plaqart.s.a.c.">
                </figure>
                <p> COPYRIGHT 2013 </p>
                <p> TODOS LOS DERECHOS RESERVADOS </p>
            </div>
        </section>

        <script src="js/main.js"></script>
        <script src="js/script.js"></script>

        <script type="text/template" id="items-template">
            <% _.each(conexionTemplate, function(variableLlave){ %>
                <li class="vinetas" id="viñeta1">
                    <a target="_blank" href= <%= variableLlave.enlace%>>
                        <figure class="lienzo">
                            <img src=<%= variableLlave.img%> class="foto" alt="trabajos de plaqart" title="trabajos de plaqart">
                        </figure>
                        <div class="wrapperVinetas">
                            <div class="sombra">
                            </div>
                            <span class="descripcion">
                                <h5 class="trabajo"><%= variableLlave.titulo %></h5>
                                <p class="categoria"><%= variableLlave.servicio %></p>
                                <p class="cliente"><%= variableLlave.cliente%></p>
                            </span>
                        </div>
                    </a>
                </li>

            <% }); %>
        </script>
        <script type="text/javascript" src="js/carrusel.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-54615300-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
