body
	width 100%
	background-color white
	margin 0
	padding 0
	border none

	header
		background-color white
		height 85px
		margin 0
		padding 0
		vertical-align top
		width 100%
		z-index 8
		position fixed
		top 0

		nav
			height 100%
			padding 0
			margin 0
			vertical-align top

			ul 
				width 100%
				padding 0
				height 100%
				margin 0
				display block
				box-shadow 0px 2px 1px #A4A4A4

				#btnNav1:hover
					border-right solid 1px #8cc63e

				#btnNav2:hover
					border-right solid 1px #f16420

				#btnNav3:hover
					border-right solid 1px #00adef


				li
					width 19.94%
					border-bottom solid 1px #A4A4A4
					border-right solid 1px #A4A4A4
					height 84px
					margin 0
					padding 0
					float left
					overflow hidden
					display block
					transition 0.4s


					#btnNavAni1:hover
						background-color #8cc63e

						h4
							color white
						.lineBtn1
							background-color white

					#btnNavAni2:hover
						background-color #f16420

						h4
							color white
						.lineBtn2
							background-color white

					#btnNavAni3:hover
						background-color #00adef

						h4
							color white
						.lineBtn3
							background-color white

					#btnNavAni4:hover
						background-color #652b90

						h4
							color white
						.lineBtn4
							background-color white

					.bloqClaro, .bloqHov
						width 100%
						height 100%
						cursor pointer
						position relative
						top 0
						padding 0
						margin 0

						a
							display block
							height 100%
							width 100%
							margin 0
							padding 0
							text-decoration none


							figure img
								display block
								width 65%
								margin 15px auto

							h4
								font-size 15px
								font-family offside
								font-weight ligther
								letter-spacing 1px
								text-align right
								position relative
								top 25px
								right 8%	
								color #1C1C1C
								float right
								margin 0
								padding 0
								display inline-block
								line-height 115%
								
							span
								display inline-block
								border none
								height 32px
								width 9px
								vertical-align middle
								float right
								margin 0
								padding 0 
								position relative
								top 27px
								right 5.5%

							.lineBtn1
								background-color #8cc63e
							.lineBtn2
								background-color #f16420
							.lineBtn3
								background-color #00adef
							.lineBtn4
								background-color #652b90


					.bloqHov
						position relative
						display none
						top -85px
						left -270px
						z-index 17
						background-color black
						margin 0
						padding 0

						a
							display block
							height 100%
							width 100%
							margin 0
							padding 0
							text-decoration none

							h4
								color #FAFAFA

							.lineBtn1, .lineBtn2, .lineBtn3, .lineBtn4
								background-color #FAFAFA

					.bloqClaro
						display block
						transition 0.4s
					.btnSelec
						background-color #00adef

						a h4
							color white
						a .lineBtn3
							background-color white
					 

				.ultimoBtnNav
					border-right none
	
	#contenedor
		padding 0
		background-color white
		width 100%
		display inline-block
		margin 0 auto

		.wrapperPrincipal
			margin 0 auto
			width 1275px
			display block

			#figura1, #descripcionWork
				float left

			#figura1
				width 690px
				height 515px
				position relative
				top 85px

			#figura2, #figura3, #figura4
				float left

			#figura2
				width 345px
				height 345px
				position relative
				top 85px

			#figura3
				width 499px
				height 345px
				position relative
				top 85px

			#figura4
				width 422px
				height 345px
				position relative
				top 85px

			#figura5, #figura6
				float left

			#figura5
				width 499px
				height 345px
				position relative
				top 85px

			 #figura6
				width 422px
				height 345px
				position relative
				top 85px

			.descripcionTrabajo
				width 576px
				height 515px
				margin 0
				padding 0
				background-color white
				position relative
				top 85px

				h2
					font-family roboto slab
					font-weight normal
					font-size 2em
					color #1C1C1C
					width 440px
					padding 0
					letter-spacing 1px
					margin 90px auto 0 auto

				p
					font-family open sans
					font-weight lighter
					text-align justify 
					font-size 1.1em
					color #151515
					width 440px
					border-bottom solid 1px #15619d
					padding 15px 0 50px 0
					margin 0 auto 
				
				h1
					font-family open sans
					font-weight lighter
					text-align right
					font-size 1.3em
					color #15619d
					letter-spacing 1px
					width 440px
					padding 9px 0 0 0
					margin 0 auto

			.bloques
				margin 0
				padding 0

				figure
					width 100%
					margin 0
					padding 0
					display block
					height 100%
					background-color white

					img
						width 100%
						height 100%
						margin 0
						padding 0


			
	#footer
		z-index -1
		background-color black
		height 70px
		display block
		margin 0
		padding-bottom 5px
		position relative
		top 81px
				
		div
			display block
			width 475px
			margin 0 auto
			padding 0
			position relative
			top 20px

			figure, p
				display inline-block
				

			figure
				width 95px
				vertical-align middle
				img
					width 100%


			p
				font-family open sans
				font-weight lighter
				color white
				margin-left 10px
				font-size 0.8em

			p:before
				content: "•"
				color white
				font-weight bold
				margin-right 7px

	
