@media screen and (min-width:768px)
	body
		header
			nav
				ul
					li
						.btnSelec
							background-color #8cc63e

							a h4
								color white
							a .lineBtn1
								background-color white
		section
			.bloqVerde 
				height 600px
				.wrapper1 

					h2
						font-size 1.6em
					h3
						font-size 0.9em

				.wrapper2
					width 520px

					h4
						font-size 1.4em

					figure
						margin 30px auto 0 auto

						.noIcoTablet
							display none

						.icoSecondLine
							margin-left 85px

			.bloqPunteado
				.contenidoPrincipal
					width 70%

					.wrapperContenido
						.negrita, .subrayado
							font-size 1em
		#footer
			div
				width 420px
				top 68px
				figure
					width 90px
				p
					font-size 0.7em

@media screen and (min-width:1280px)
	body
		header
			nav
				ul
					border-bottom solid 3px #618037
					li
						width 19.94%
						display block
						transition 0.4s

						#btnNavAni0
							span
								display none

						.btnSelec
							background-color #8cc63e

							a h4
								color white
							a .lineBtn1
								background-color white

					.blqmovil
						display block
			
		section
			.bloqVerde 
				height 700px
				.wrapper1 
					width 56%

					h2
						font-size 43px
						position relative
						top 20px

					h3
						font-size 1.6em
						margin 45px auto

				.wrapper2
					width 1100px
					border solid 1px blac
					margin 40px auto 0 auto

				
					h4
						font-size 2.1em

					figure
						width 1100px
						margin 40px auto 0 auto

						.wrapperIco
							img
								display block
								width 93px

							.icoFormula1
								height 90px

							.icoFormula2
								height 55px
								width 83px

							.icoFormula3
								height 85px

							.icoFormula4
								height 95px
								width 55px

							.icoFormula5
								height 95px

							.icoSuma
								width 28px
								margin 0 38.5px 35px 38.5px

							.textoFormula
								font-size 1.2em

						.noIcoTablet
							display inline-block

						.icoSecondLine
							margin-left 0px

			.bloqPunteado
				.contenidoPrincipal
					width 950px

					.wrapperContenido
						width 560px
						margin 0px auto
						padding 70px 0
						.negrita, .subrayado
							font-size 1em

		#footer
			height 160px
			div
				top 107px
		