<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Plaqart: Imprenta diseño web diseño grafico merchandising viniles impresiones catalogo papeleria gigantografia banners</title>
        <meta name="description" content="Plaqart: Imprenta Merchandising Diseño Gráfico Diseño Web">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link href='http://fonts.googleapis.com/css?family=Offside|Roboto+Slab|Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/estilos.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/vendor/jquery-1.10.1.min.js"></script>
        <script src="js/vendor/ui/jquery-ui.js"></script>
        <script src="js/vendor/underscore.js"></script>

    </head>
    <body>
        <header>
            <nav id="navPrincipal">
                <ul>
                    <li>
                        <div class="bloqClaro" id="btnNavAni0">
                            <a href="#banner" class="scrolleable">
                                <figure>
                                    <img src="img/plaqart-logotipo.png" alt="Plaqart" title="imprenta Plaqart">
                                </figure>
                                <span class="icon-menu"></span>
                            </a>
                        </div>
                    </li>
                    <li id="btnNav1" class="blqmovil" >
                        <div class="bloqClaro" id="btnNavAni1">
                            <a href="http://www.plaqart.com/empresa/index.html">
                                <span class="lineBtn1"></span>
                                <h4>QUIENES<br>SOMOS</h4>
                            </a>
                        </div>
                        <div class="bloqHov">
                            <a href="#">
                                <span class="lineBtn1"></span>
                                <h4>QUIENES<br>SOMOS</h4>
                            </a>
                        </div>
                    </li>
                    <li id="btnNav2" class="blqmovil">
                        <div class="bloqClaro" id="btnNavAni2">
                            <a href="#servicios" class="scrolleable">
                                <span class="lineBtn2"></span>
                                <h4>NUESTROS<br>SERVICIOS</h4>
                            </a>
                        </div>
                        <div class="bloqHov" >
                            <a href="#">
                                <span class="lineBtn2"></span>
                                <h4>NUESTROS<br>SERVICIOS</h4>
                            </a>
                        </div>
                    </li>
                    <li id="btnNav3" class="blqmovil">
                        <div class="bloqClaro" id="btnNavAni3">
                            <a href="#portafolio" class="scrolleable">
                                <span class="lineBtn3"></span>
                                <h4>NUESTRO<br>PORTAFOLIO</h4>
                            </a>
                        </div>
                        <div class="bloqHov" >
                            <a href="#">
                                <span class="lineBtn3"></span>
                                <h4>NUESTRO<br>PORTAFOLIO</h4>
                            </a>
                        </div>
                    </li>
                    <li id="btnNav4" class="ultimoBtnNav blqmovil">
                        <div class="bloqClaro"  id="btnNavAni4">
                            <a href="#Contacto" class="scrolleable">
                                <span class="lineBtn4"></span>
                                <h4>ESTEMOS EN<br>CONTACTO</h4>
                            </a>
                        </div>
                        <div class="bloqHov">
                            <a href="#">
                                <span class="lineBtn4"></span>
                                <h4>ESTEMOS EN<br>CONTACTO</h4>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <section id="banner" class="slider_auto_Porta">
            <div class="wrapperBanner">
                <article id="slide1" class="slide slide_visible">
                    <figure>
                        <img class="iconazos" src="img/icono-cerebro02.png" alt="creatividad">
                    </figure>
                    <figure>
                        <img class="txtBanner" src="img/PlaqartCreatividad.png" alt="¿Que es la creatividad para Plaqart?">
                    </figure>
                </article>
                <article id="slide2" class="slide">
                    <figure>
                        <img class="iconazos" src="img/icono-megafono03.png" alt="Aptitudes">
                    </figure>
                    <figure>
                        <img class="txtBanner" src="img/PlaqartComunicacion.png" alt="Aptitudes de Plaqart">
                    </figure>
                </article>
                <article id="slide3" class="slide">
                    <figure>
                        <img class="iconazos" src="img/icono-corazon03.png" alt="Valores">
                    </figure>
                    <figure>
                        <img class="txtBanner" src="img/PlaqartPasion.png" alt="Aptitudes de Agencias">
                    </figure>
                </article>
            </div>      
        </section>
        <section id="servicios">
            <h4 class="titulosSegmentos">¿QUÉ TE PODEMOS OFRECER?</h4>
            <figure class="delineado01"><img src="img/Subraya01.png"></figure>
            <p>Brindamos soluciones creativas con increíbles diseños y trabajamos con determinación para personas y empresas de cualquier magnitud decididas a alcanzar el éxito.</p>
            <div class="wrapper">
                <div class="BtnServicio">
                    <figure>
                        <img src="img/DiseñoGrafico.png">
                    </figure>
                    <h2>DISEÑO GRÁFICO</h2>
                    <ul>
                        <li>Identidad de marca</li>
                        <li>Empaque y etiquetas</li>
                        <li>Diseño publicitario</li>
                        <li>Ilustración</li>
                        <li>Espacio Retail</li>
                    </ul>
                </div>
                <div class="BtnServicio">
                    <figure>
                        <img src="img/DesarrolloWeb.png">
                    </figure>
                    <h2>DESARROLLO WEB</h2>
                    <ul>
                        <li>Páginas web</li>
                        <li>Aplicaciones web</li>
                        <li>Tiendas virtuales</li>
                    </ul>
                </div>
                <div class="BtnServicio">
                    <figure>
                        <img src="img/Imprenta.png">
                    </figure>
                    <h2>IMPRENTA</h2>
                    <ul>
                        <li>Papelería corporativa</li>
                        <li>Papelería comercial</li>
                        <li>Viniles y adhesivos</li>
                        <li>Catálogos o brochures</li>
                        <li>Banners</li>
                    </ul>
                </div>
                <div class="BtnServicio">
                    <figure>
                        <img src="img/Merchandising.png">
                    </figure>
                    <h2>MERCHANDISING</h2>
                    <ul>
                        <li>Polos, camisas y casacas</li>
                        <li>Tazas y tomatodos</li>
                        <li>Calendarios y agendas</li>
                        <li>Lapiceros y cuadernos</li>
                        <li>Paquete ecológico</li>
                        <li>Llaveros</li>
                        <li>Gorros</li>
                        <li>USB</li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="portafolio">
            <h4 class="titulosSegmentos">MIRA NUESTRO PORTAFOLIO</h4>
            <figure class="delineado01"><img src="img/Subraya02.png"></figure>
            <!--<figure class="btnAtras">
                <img src="img/PortafolioFlechaIzquierdaOff.png">
            </figure>
            <figure class="btnAvanzar">
                <img src="img/PortafolioFlechaDerechaOff.png">   
            </figure>-->
            <ul class="listaBotonesPorta">
                <li class="botonesPorta ui-selected" id="btnDiseno">Diseño</li>
                <li class="botonesPorta" id="btnWeb">Desarrollo Web</li>
                <li class="botonesPorta" id="btnImp">Imprenta</li>
                <li class="botonesPorta botonesPortaUltimo" id="btnMerch">Merchandising</li>
            </ul>
            <ul id="vitrina">
                <!--<li class="vinetas" id="viñeta1">
                    <figure class="lienzo">
                        <img src="img/Fondo-ciudad.png" class="foto" alt="trabajos de plaqart" title="trabajos de plaqart">
                    </figure>
                    <div class="wrapperVinetas">
                        <div class="sombra">
                        </div>
                        <span class="descripcion">
                            <h5 class="trabajo">TITULO DE TRABAJO</h5>
                            <p class="categoria">TIPO DE SERVICIO</p>
                            <p class="cliente">CLIENTE: BLAH!</p>
                        </span>
                    </div>
                </li>
                <li class="vinetas" id="viñeta2">
                    <figure class="lienzo">
                        <img src="img/Fondo-ciudad.png" class="foto" alt="trabajos de plaqart" title="trabajos de plaqart">
                    </figure>
                    <div class="wrapperVinetas">
                        <div class="sombra">
                        </div>
                        <span class="descripcion">
                            <h5 class="trabajo">TITULO DE TRABAJO</h5>
                            <p class="categoria">TIPO DE SERVICIO</p>
                            <p class="cliente">CLIENTE: BLAH!</p>
                        </span>
                    </div>
                </li>
                <li class="vinetas" id="viñeta3">
                    <figure class="lienzo">
                        <img src="img/Fondo-ciudad.png" class="foto" alt="trabajos de plaqart" title="trabajos de plaqart">
                    </figure>
                    <div class="wrapperVinetas">
                        <div class="sombra">
                        </div>
                        <span class="descripcion">
                            <h5 class="trabajo">TITULO DE TRABAJO</h5>
                            <p class="categoria">TIPO DE SERVICIO</p>
                            <p class="cliente">CLIENTE: BLAH!</p>
                        </span>
                    </div>
                </li>
                <li class="vinetas" id="viñeta4">
                    <figure class="lienzo">
                        <img src="img/Fondo-ciudad.png" class="foto" alt="trabajos de plaqart" title="trabajos de plaqart">
                    </figure>
                    <div class="wrapperVinetas">
                        <div class="sombra">
                        </div>
                        <span class="descripcion">
                            <h5 class="trabajo">TITULO DE TRABAJO</h5>
                            <p class="categoria">TIPO DE SERVICIO</p>
                            <p class="cliente">CLIENTE: BLAH!</p>
                        </span>
                    </div>
                </li>-->
            </ul>
        </section>
        <section id="promociones" class="slider_auto">
            <h4 class="titulosSegmentos">ADQUIERE NUESTRAS PROMOCIONES</h4>
            <figure class="delineado01"><img src="img/Subraya03.png"></figure>
            <figure class="btnAtras">
                <img src="img/PromocionesFlechaIzquierdaOff.png">
            </figure>
            <figure class="btnAvanzar">
                <img src="img/PromocionesFlechaDerechaOff.png">   
            </figure>
            <article id="slidePorta1" class="slidePorta slide_visible_Porta">
                <figure>
                    <img src="css/Fondo-ciudad.png">
                </figure>
            </article>
            <article id="slidePorta2" class="slidePorta">
                <figure>
                    <img src="css/Fondo-ciudad.png">
                </figure>
            </article>
            <article id="slidePorta3" class="slidePorta">
                <figure>
                    <img src="css/Fondo-ciudad.png">
                </figure>
            </article>
        </section>
        <section id="redes">
            <h4 class="titulosSegmentos">ACOMPAÑANOS EN LAS REDES SOCIALES</h4>
            <figure class="delineado01"><img src="img/Subraya04.png"></figure>
            <p class="descripSegmentoRedes">Por medio de nuestras publicaciones queremos inspirar y compartir cualquier tema relacionado con el diseño, como proyectos, portafolios, tutoriales, concursos, diseño web, tendencias y novedades del medio.</p>
            <ul>
                <li class="btnRedes" id="twitter">
                    <a href="https://twitter.com/Plaqart">
                        <figure>
                            <img class="btnOff" src="img/TwitterOff.png">
                            <img class="btnOn" src="img/TwitterOn.png">
                        </figure>
                        <p>twitter</p>
                    </a>
                </li>
                <li class="btnRedes" id="facebook">
                    <a href="https://www.facebook.com/Plaqart">
                        <figure>
                            <img class="btnOff" src="img/FacebookOff.png">
                            <img class="btnOn" src="img/FacebookOn.png">
                        </figure>
                        <p>facebook</p>
                    </a>
                </li>
                <li class="btnRedes" id="linkedin">
                    <a href="https://www.linkedin.com/company/plaqart">
                        <figure>
                            <img class="btnOff" src="img/LinkedinOff.png">
                            <img class="btnOn" src="img/LinkedinOn.png">
                        </figure>
                        <p>linked in</p>
                    </a>
                </li>
                <li class="btnRedes" id="behance">
                    <a href="https://www.behance.net/plaqart">
                        <figure>
                            <img class="btnOff" src="img/BehanceOff.png">
                            <img class="btnOn" src="img/BehanceOn.png">
                        </figure>
                        <p>behance</p>
                    </a>
                </li>
            </ul>
        </section>
        <section id="Contacto">
            <div id="wrapperContacto">
                <h4 class="titulosSegmentos">MANTENTE EN CONTACTO</h4>
                <figure class="delineado01"><img src="img/Subraya05.png"></figure>
                <p class="descripContacto">Visítanos, llámanos o escríbenos. Podremos responder cualquier consulta que tengas o tal vez concretar una reunión para conversar sobre tu proyecto.</p>

                <div class="wrapperInfo_Form">
                    <figure class="logoplaqartcontacto">
                        <img src="img/PlaqartLogotipoCreditos.png" alt="plaqart" title="Plaqart S.A.C.">
                    </figure>
                    <div class="div1">
                        <figure class="imgUbicacion"><img src="img/IconoDireccionContacto.png"></figure>
                        <p>Los Condores 233 Of. 02 Urb. San José <br> Bellavista - Callao</p>
                        <figure class="imgTelf"><img src="img/IconoTelefonosContacto.png"></figure>
                        <p>942 914 542 - 996 005 400 <br>ventas@plaqart.com</p>
                    </div>
                    <div class="div2">
                        <form id="formdata" method="POST">
                            <input id="nombre" class="inputsForm" name="nombres" type="text" placeholder="NOMBRE Y APELLIDO">
                            <input id="empresa" class="inputsForm" name="empresa" type="text" placeholder="EMPRESA">
                            <input id="correo" class="inputsForm" name="correo" type="text" placeholder="CORREO">
                            <textarea id="mensaje" name="mensaje" placeholder="¿EN QUE PODEMOS AYUDARTE?"></textarea>
                            <input id="boton" class="btnForm" type="button" value="enviar >">
                        </form>
                    </div>
                </div>
            </div>
            <div id="mensajeExito">
                <p>Tu mensaje ha sido enviado con éxito, nos pondremos en contacto a la brevedad.</p>
            </div>
            <div id="mensajeError">
                <p>Por favor, verifica que hayas completado toda los casilleros.</p>
            </div>
        </section>
        <section id="footer">
            <div>
                <figure>
                    <img src="img/PlaqartLogotipoCreditos.png" alt="Plaqart" title="plaqart.s.a.c.">
                </figure>
                <p> COPYRIGHT 2013 </p>
                <p> TODOS LOS DERECHOS RESERVADOS </p>
            </div>
        </section>
        <a href=""></a>

        <script src="js/main.js"></script>
        <script src="js/script.js"></script>
        <script type="text/template" id="items-template">
            <% _.each(conexionTemplate, function(variableLlave){ %>
                <li class="vinetas" id="viñeta1">
                    <a href= <%= variableLlave.enlace%>>
                        <figure class="lienzo">
                            <img src=<%= variableLlave.img%> class="foto" alt="trabajos de plaqart" title="trabajos de plaqart">
                        </figure>
                        <div class="wrapperVinetas">
                            <div class="sombra">
                            </div>
                            <span class="descripcion">
                                <h5 class="trabajo"><%= variableLlave.titulo %></h5>
                                <p class="categoria"><%= variableLlave.servicio %></p>
                                <p class="cliente"><%= variableLlave.cliente%></p>
                            </span>
                        </div>
                    </a>
                </li>

            <% }); %>
        </script>

    </body>
</html>
